.object_list {
    display: flex;
    flex-wrap: wrap;
    padding-top: 20%;
    padding-left: 50%;
}

.object_list ul {
    display: flex;
    flex-wrap: wrap;
    max-height: 200px;
    overflow-y: auto;
    margin: 0;
    padding: 0;
    list-style-type: none;
}